@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    letter-spacing: 0.1em;
}
body {
    background-color: #0A2239; 
    font-family: Rajdhani Medium, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color:#396E94;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#cdc-top {
    font-family: Rajdhani Bold;
    color: #A8D4FF;
    text-align: center;
    grid-column: 2/3;
    margin-bottom: -75px;
}
#cdc-icon {
    background-color: #A8D4FF;
    width: 80px;
    height: 80px;
    padding: 8px;
    grid-column: 1/1;
    grid-row: 2/2;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-evenly;
    grid-column: 1/4;
    grid-row: 2/2;
}
nav a {
    color: #A8D4FF;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #A8D4FF;
    color: #396E94;
}
nav select {
    background-color:#396E94;
    color: #A8D4FF;
    text-align: center;
    padding: 35px;
    border: none;
    outline: none;
}
.main-title {
    font-family: Rajdhani Bold;
    color: #A8D4FF;
    margin: 25px auto;
    text-align: center;
}
.main-image {
    float: right;
    padding: 25px;
}
.main-paragraph {
    font-family: Rajdhani Medium;
    color: #A8D4FF;
    text-align: left;
    width: 100%;
    height: 300px;
}
#holidays {
    font-family: Rajdhani Bold;
    color: #A8D4FF;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.holiday-template {
    display: none;
}
.holidayDate {
    display: none;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #A8D4FF;
    color: #396E94;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
  
#myBtn:hover {
    background-color: #396E94;
    color: #A8D4FF;
}
footer {
    background-color:#396E94;
    display: flex;
    justify-content: space-evenly;
}

footer p {
    color: #A8D4FF;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
footer a {
    color: #A8D4FF;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
footer a:hover {
    background-color: #A8D4FF;
    color: #396E94;
    padding: 35px;
}

/* CSS full-time-details.html */

#holidayList {
    font-family: Rajdhani Medium;
    color: #A8D4FF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px;
}
#templateHoliday {
    display: none;
}
#holidayDate {
    display: none;
}
#holidayList select {
    background-color:#396E94;
    color: #A8D4FF;
    text-align: center;
    padding: 5px;
    border: none;
    outline: none;
    grid-column: 2/3;
}
#holidayList p {
    text-align: left;
    grid-column: 2/3;
}

/* CSS for specific-date.html */

#specificDate {
    font-family: Rajdhani Medium;
    color: #A8D4FF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px;
}
#specificDate input {
    background-color:#396E94;
    color: #A8D4FF;
    text-align: center;
    padding: 5px;
    border: none;
    outline: none;
    grid-column: 2/3;
}
#specificDate p {
    text-align: left;
    grid-column: 2/3;
}


@media screen and (max-width: 900px) {
    #cdc-top {
        margin-bottom: 10px;
    }
    nav {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    main {
        font-size: 25px;
        padding: 10px;
    }
    .main-image {
        float: none;
    }
    .main-paragraph {
        width: auto;
        height: auto;
    }
    #holidays {
        display: block;
    }
    footer {
        flex-direction: column;
        margin-top: 25px;
    }
    
    /* CSS full-time-details.html */
    
    #holidayList {
        display: block;
    }
    
    /* CSS for specific-date.html */
    
    #specificDate {
        display: block;
    }
}